@import url(./global.css);

body{    
    display: flex;
    background-color:var(--color-primary-dark-gray);
    justify-content: center;
    width: 100%;
    height: 100vh;
}

body h1{
    color: var(--color-neutral-white);
    font-size: var(--headline1);
    text-align: center;
    margin-bottom: 64px;
}

.img-container img{
    /* height: 100vh; */
    
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 59px 66px 20px 99px;

    /* height: 100vh; */
}

.text-box{
    /* height: 90%; */
}

.text-box p{
    color: var(--color-neutral-white);
    font-size: var(--paragraph1);
    font-weight: var(--paragraph-weight);
    text-align: center;
    margin-bottom: 112px;    
}

.form-container{
    display: flex;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 27px;
}

.form-box input{
    width: 420px;
    height: 72px;
    color: var(--color-neutral-gray);
    padding: 0px 51px;
}

.form-box input::placeholder{
    font-size: var(--input-text);    
}

.form-box button{
    width: 420px;
    height: 72px;
    background-color:var(--color-secundary-light-red);
    border: none;
    color: var(--color-neutral-white);
    cursor: pointer;
    transition: 0.1s ease;
}

.form-box button:active{
    transform: scale(0.95);    
}

.form-box img:nth-of-type(1){   
    position: absolute;     
    transform: translate(-185px, 26px);    
}

.form-box img:nth-of-type(2){   
    position: absolute;     
    transform: translate(-185px, 126px);    
}

.form-box img:nth-of-type(3){   
    position: absolute;     
    transform: translate(160px, 226px);    
}

.rodape{
    /* margin-top: 300px; */
    margin-left: 0px ;
}

.rodape p{
    color: var(--color-neutral-light-gray);
    font-size: var(--rodape-text);
}

