@import url(../../../../styles/global.css);

body{
    width: 100vh;
    display: flex;
    justify-content: center;
}

.menu-container{
    background-color: var(--color-primary-dark-gray);
    width: 1000px;
    height: 645px;
    position: absolute;
    translate: 35%;
}

